.contactsList-container {
    width: 25%;
    height: 90vh;
    font-family: "Source Serif 4", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    cursor: pointer;
    border: 3px solid #F3D0D7;

}

.constact-title {
    width: 100%;
    height: 10%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}